/*
Когда разрешение экрана будет 1000px и меньше, мы будем менять разрешение самого блока слайдера и разрешение картинки
 */

@media (max-width: 1000px) {
    .slider {
        height: 400px;
    }
    .slider .item img {
        height: 400px;
    }

    .about_usluga{
        width: 900px;
        height:300px;
    }

    .about_usluga_text{
        font-size: 16px;

    }
    .about_usluga_link {
        font-size: 16px;
    }

    .about_usluga_title{
        font-size: 18px;
    }

    .forma_obratnoi_svyazi{
    background:#E4E7FF;
    width:900px;
    margin-left: 5px;
}
}

/*
Когда разрешение экрана будет 700px и меньше, зададим элементам flex-direction column чтоб элеметы выстроились не в линию а в колонку и так же уменшим не много разрешение картинки
 */
@media (max-width: 700px) {
    .header_titleAndPhone {
        flex-direction: column;
    }

    .menu_list {
        flex-direction: column;
    }

    .menu_item {
        margin-bottom: 20px;
    }

    .slider {
        height: 300px;
    }
    .slider .item img {
        height: 300px;
    }

    .about_usluga{
        display: grid;
        grid-template-columns: 175px 450px;
        width: 650px;
        height:250px;
    }

    .about_usluga_text{
        margin-right: 50px;
        font-size: 13px;
        color: black;
    }
    .about_usluga_link {
        font-size: 14px;
    }

    .about_usluga_title{
        font-size: 15px;
    }

    .usluga_image{
        width: 150px;
        height: 185px;
}

.forma_obratnoi_svyazi{
    background:#E4E7FF;
    width: 650px;
    margin-left: 5px;
}
}
/*
Когда разрешение экрана будет 400px и меньше, уменьшим блок с картинками
 */
@media (max-width: 400px) {

    .slider {
        height: 200px;
    }
    .slider .item img {
        height: 200px;
    }

    .about_usluga{
        display: grid;
        grid-template-columns: 100px 200px;
        width: 300px;
        height: 200px;
        grid-gap: 10px;
    }

    .usluga_image{
        width: 100px;
        height: 125px;
        margin: 5px;
    }

    .about_usluga_text{
            margin-top: 1px;
            font-size: 8px;
            color: black;
        }
    .about_usluga_link {
            font-size: 8px;
        }
    
    .about_usluga_title{
            font-size: 12px;
        }

    .forma_obratnoi_svyazi{
            background:#E4E7FF;
            width:300px;
            margin-left: 5px;
        }

    .form_label{
            font-size:9px;
            color: black;
        }
        
    .form_label1{
            font-size:9px;
            color: black;
        }

    .forma_title{
            color: black;
            font-size: 12px;
        }
}